body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  

  background: linear-gradient(135deg, #050505 0%, #1c0b2b 50%, #050505 100%);
  

  min-height: 100vh;
  background-attachment: fixed; 
  background-size: cover;

  color: #e0e0e0; 
}